:root {
  --appRed: rgb(59, 103, 121);
  --appBG:rgb(144, 166, 166);
  --appText: rgb(31, 34, 34);
  --appBorderL: rgb(77, 86, 86);
  --appBorder: #384048;
  --appMainColor: teal;
  --appAuth: rgb(87, 76, 108);
  --appRadiusSmall: 3px;
  --appRadiusMain: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
